@import url("https://fonts.googleapis.com/css2?family=Jaldi:wght@400;700&display=swap");
@import url(./animation.css);
:root {
    --text-color: #ebebeb;
    --font-family: "Jaldi", sans-serif;
  }
  body {
    overflow-x: hidden;
  }
  html{
    scroll-behavior: smooth;
  }


  
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: var(--font-family);
    color: var(--text-color);
  }

  .header{
    display: flex;
    background-color: #001845;
    padding: 1em 3em;
    text-align: center;
    justify-content: space-between;
    height: 600px;
  }

  .mainImg{
    object-fit: contain;
    animation:slideLeft 1s ease-in-out ;

  }

  .mainPhrase{
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 42px;
    font-weight: 700;
    animation: slideRight 1s ease-in-out;
  }

.containerLight{
  background-color: #023e7d;
    
}

.phrases{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em;
  gap: 1em;
}


.topic{
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding:0.5em;
  margin:1em;
  border: 1px solid #0466c8;
  border-radius: 10px;
  width:400px;
  height: 300px;
  overflow: hidden;
  transition: all 0.5s;
  cursor: pointer;
  filter: drop-shadow(2px 2px 2px #0046c8);
}
.p-button{
  font-weight: 400;
  font-size: 24px;
  text-align: center;
  animation: pulse 2s infinite;
}


.topicActive{
  display: none;
  flex-direction: column;
  gap: 50px;
  padding:0.5em;
  margin:1em;
  border: 1px solid #0466c8;
  border-radius: 10px;
  background-color: #000;
  width:450px;
  height: auto;
  cursor: pointer;
  transition: all 0.5s  ease-in-out;
} 


.topic h2,
.topicActive h2{
  font-size: 32px;
  font-weight: 700;
  text-align: center;
}
.topicActive p{
  font-size: 24px;
  font-weight: 500;
  text-align: center;
}

.transitionDarkLight{
    height: 90px;
    background-image: linear-gradient(180deg, #001845, #023e7d);
}
.transitionLightDark{
    height: 90px;
    background-image: linear-gradient(180deg, #023e7d, #001845 );
}

#phraseHelp{
  background-color: #023e7d;
  padding: 0.5em;
  text-align: center;
  font-size: 42px;
  font-weight: 700;
}

.imgsTransition{
  display: flex;
  width: 100%;
  height: 400px;
  max-height: 400px;
  padding:1em 0em;
  background-image: linear-gradient(180deg,#023e7d, #001845);
}

.imgsTransition img{
  object-fit: cover;
  object-position: top;
  width: 100%;
  opacity: 0.3;
  transition: all 0.5s ease-in-out;
}

.imgsCarrousel{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
  padding: 1em;
}

.containerDark{
  background-color: #001845;
}

.tittle{
  font-size: 42px;
  font-weight: 700;
  text-align: center;
  padding: 1em;
  filter: drop-shadow(2px 2px 2px #0046c8);
}

.products{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 1em;
  padding: 1em;
}
.product{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
  padding: 1em;
  border: 1px solid #0466c8;
  border-radius: 10px;
  width: 300px;
  height: 400px;
}

.product h2{
  font-size: 32px;
  font-weight: 700;
  text-align: center;
  filter: drop-shadow(2px 2px 2px #0046c8);
}
.product p{
  font-size: 24px;
  font-weight: 700;
  text-align: center;
}
.discount{
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  color: #ff0000;
  text-decoration: line-through;
}

.product a{
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  padding: 0.5em 1em;
  background-color: #001845;
  color: #ebebeb;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  text-decoration: none;
  animation: pulse 2s infinite;
}
.footer {
  width: 100%;
  height: 100%;
  padding: 2em;
  background-color: #001845;
  z-index: 1;
}

.footerContent {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footerTexts {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.footerTexts a {
  color: #fff;
  font-size: 20px;
  text-decoration: none;
}
.footerTexts h1 {
  color: #0046c8;
  font-size: 40px;
  font-weight: 700;
}

.footerImgs {
  display: flex;
  margin-top: 10px;
  gap: 20px;
  justify-content: center;
  align-items: center;
}
.footerImgs img {
  width: 50px;
  height: 50px;
  cursor: pointer;
}

#wppIcon{
  position: fixed;
  width: 40px;
  height: 40px;
  cursor: pointer;
  bottom: 10px;
  right: 15px;
}

@media (max-width: 768px) {
  .header {
    flex-direction: column-reverse;
    height: auto;
    align-items: center;
  }
  .mainImg {
    width: 90%;
  }
  .mainPhrase {
    width: 80%;
    font-size: 28px;
    text-align: center;
  }
  .phrases {
    flex-direction: column;
    gap: 1em;
  }
  .topic {
    width: 80%; 
  }
  .topicActive {
    width: 90%; 
  }
  #phraseHelp {
    font-size: 32px;
  }
  .imgsTransition {
    flex-direction: column;
    max-height: 1000px;
    height: 600px;
  }
  .imgsTransition img{
    max-height: 200px;
  }
  .tittle {
    font-size: 32px;
  }
  .products {
    flex-direction: column;
    gap: 1em;
  }
  .product {
    width: 80%;
  }

  .footer {
    padding: 1em;
  }
  .footerTexts h1 {
    font-size: 32px;
  }
  .footerTexts a {
    font-size: 16px;
  }
  .footerImgs img {
    width: 40px;
    height: 40px;
  }
  #wppIcon {
    width: 35px;
    height: 35px;
    bottom: 10px;
    right: 5px;
  }
}


