.Container{
    display: flex;
    justify-content: center;
    width:100%;
    height: 100vh;
}

.Inner{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    max-width: 1000px;
    overflow-x: hidden;
}

.Imagens{
    display:flex ;
    gap:2em;

}


.Imagem{
    width:500px;
    height: 500px;
    margin: 0 10px;
}

.Imagem img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.Anterior,
.Proximo{
    position: relative;
    top: 50%;
    padding:5px;
    width: 40px;
    height: 40px;
    background-color: #fefefe;
    border-radius: 50%;
}

.Anterior{
    left: -0.5em;
}

.Proximo{
    right: -0.5em;
}