.Container{
    display: flex;
    justify-content: space-between;
    height: 5em;
    padding: 0.5em;
    background-image: linear-gradient( 15deg, rgb(0,24,69) 50%, rgb(0,0,0) 85%);
}

.NavBar{
    display: flex;
    justify-content: space-between;
    padding: 0 1.5em;
    align-items: center;
}

.NavBar a{
    padding: 0 1em;

}

