  body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  background-image: linear-gradient( 170deg, rgb(4,102,200) 5%, rgb(0,24,69) 85%);
}

#root{
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: #EBEBEB;
}
a:hover {
  color: #0466c8;
}


h1{
  font-size: 3em;
  color: #EBEBEB;
  margin: 10px;
  filter:drop-shadow(0px 0px 5px #0466c8); 

}

#btnNone{
  display: none;

}

.Home{

  display: flex;
  flex-direction: column; 
  justify-content: center;


}

.HomeContainer{
  position: relative;
  display: flex;
  height: autp;
}
.HomeContainer ::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('./assets/ImgFundo2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  opacity: 0.05; 
  z-index:-1 ; 
  
}

.HomeText{
  
  padding: 5em; 
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: center;
  align-items: center;

}

.ImgPrincipal{  
  width: 100%;   
  height: 100%;
  
}


.suspiro{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding:1em;
  height: 100px;
  width: 100%;
  background-image: linear-gradient( 180deg, rgb(0,24,69) 50%, rgb(0,0,0) 85%);
}
.suspiro h1{
  margin: 0 1em ;
}

.Consultoria{
  display: flex;
  margin: 3em 1em;
  flex-direction: column;
 
}

.Titulo{
  margin-bottom: 2em;
  align-self: center;
}
.BackgroundImageLogo{
  background-image: url('./assets/Logo+&Sublogo.png');
  background-repeat: no-repeat;
  width: 95%;
  height: 100%;
  background-size: contain;
  position: absolute;
  opacity: 0.4;
  z-index: -1;
}

.CarrosselImg{
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: row;
  border-radius: 10px;
  
}
.Textos{
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}
.TituloTopico{
  display: flex;
  width:100%;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  justify-self: self-start;
}
.Icon{
 color: #000;
  margin: 0 1em;
  font-size: 2em;
  filter:drop-shadow(0px 0px 5px #0466c8);
}

.Planos{
  display: flex;
  gap: 2em;
  align-items: center;
  flex-direction: column;
  flex: 1;

}

.Cards{

  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 2em;
}


.Contato{
  position: fixed;
  bottom:0;
  right:0;
  width: 50px;
  height: 40px;
  padding: 2em;

}

.Contato img{
  width: 100%;
  height: 100%;
  cursor: pointer;
}


.footer{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: #000;
  color: #EBEBEB;
  font-size: 1em;
  position: relative;
  bottom: 0;
  width: 100%;
  height: 100px;
  z-index: 1;
}
@media (max-width: 1080px) {

  .HomeContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;


  } 
  .ImgPrincipal{
    width: 60%;
    height: 60%;
  }

  .HomeText{
    padding: 2em;
    flex-direction: column;
    margin-top: 5em;
  }


  .Consultoria{
    height: auto;
    margin: 1em;

  }
  .BackgroundImageLogo{

    background-position: center;

  }

  .Cards{
    flex-direction: column;
    align-items: center;
  }

  .footer{
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #000;
    color: #EBEBEB;
    font-size: 1em;
    position: relative;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  
  }
 
}

@media (min-width: 1080px ) and (max-width: 1700px) {
  .HomeContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
  } 

  .ImgPrincipal{
    width: 60%;
    height: 60%;
  }

  .HomeText{
    padding: 2em;
    flex-direction: row;
    margin-top: 5em;
  }

  .Consultoria{
    height: auto;
    margin: 1em;

  }
  .BackgroundImageLogo{

    background-position: center;

  }
  
  .Cards{
    flex-direction: column;
    align-items: center;
  }

  .footer p{
    font-size: 1.5em;
    
   
  }

}